@using BookWorldStore.Repository;

@{
    ViewBag.title = "Profile";
    Layout = "_CLientLayout";
}

@section Style{
    <link href="~/css/client/profile.css" rel="stylesheet" type="text/css" asp-append-version="true" />
}
@model ProfileViewModel
<div id="body_profile">
    <div id="gradient"></div>
    <div id="card">
        <img src="~/img/decoration/avatar_user.png" />
        <h2 style="margin-bottom: 1rem">Profile</h2>
        <p>Email: @Model.email  </p>
        <p>Gender: @Model.gender</p>
        <p>Phone: @Model.phone</p>
        <p>Address: @Model.address</p>
        <button class="left bottom yellow-button" data-bs-toggle="modal" data-bs-target="#change_infor_model" asp-action="ChangesImformation" asp-controller="Profile">Change information</button>
        <button class="right bottom yellow-button" data-bs-toggle="modal" data-bs-target="#change_pass_model">Change password</button>
    </div>
</div>

<partial name="popupForm.cshtml">


@section Script{
        <script src="~/js/client/searchBox.js" asp-append-version="true"></script>
}