@{
    Layout = "_AdminLayout";
    ViewBag.title = "Category";
}
@model Category
<form asp-controller="Category" asp-action="Create" id="Create_category_form">
<div style="text-align: center">
    <h1 class="mt-3">Add new Category</h1>
</div>
<div class="add-form mt-5 col-sm-11">
    <div class="mb-3">
        <label for="pro_name" class="form-label">Name</label>
        <input type="text" class="form-control" id="cate_name" placeholder="Category name" asp-for="name">
        <span id="empty_name" class="bi-x-circle-fill" style="vertical-align: -webkit-baseline-middle; color: red; display:none;"></span>
    </div>
    <div style="text-align: end">
        <input type="submit" class="btn btn-success" id="btn_submit_add_cate" value="Add">
        <a href="/Category"><input type="button" class="btn btn-warning" value="cancel"></a>
    </div>
</div>
</form>
@section Scripts{
    <script src="/js/admin/category.js">

    </script>
}

