@{
    Layout = "_adminLayout";
    ViewBag.title = "Category";
}
<div style="width: 100%;height: 4rem;background-color: white; position: fixed; z-index: 1; box-shadow: 0 2px 5px gray">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="d-flex" id="search_box_product" role="search">
                <a asp-controller="Category" asp-action="Create"><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_product_model" style="margin-left: 2rem">New category</button></a>
            </div>
        </div>
    </nav>
</div>
<div style="padding-top: 5rem">
    <table class="table table-hover pt-10">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (int i=0; i < 10; i++)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td> cate @i </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="/category/edit/@i"><button type="button" class="btn btn-primary">Edit</button></a>
                            <button type="button" class="btn btn-danger btn_delete_cate" data-cate-id="<%= cateList[i].cate_id %>">Delete</button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>