@{
    ViewBag.title = "Cart";
    Layout = "_CLientLayout";
}

@section Style{

}
<div class="" style="background-color: rgb(102, 95, 170); text-align: center;margin-top:1rem;margin:.5rem">
  <a href="/Cart">
    <button type="button" class="yellow-button" style="margin-top: .5rem; float: right; margin-right: 1rem; background: rgb(151, 127, 34)">
           Back to cart
    </button>
  </a>
</div>

<div id="cart_content">
    <table class="table pt-10" style="color:white; font-size:12px">
        <thead>
            <tr style="text-align: center">
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total price</th>
                    <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            @for (int i = 0; i < 10; i++)
            {
                <tr>
                    <th scope="row">@(i + 1) </th>
                    <th scope="row">
                        <img style="width: 5rem; height: 7rem" src="~/img/decoration/templatemo_image_02.jpg" alt="">
                    </th>
                    <td>name @i</td>
                    <td>1$</td>
                    <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                @i
                            </div>
                    </td>
                    <td>@i</td>
                    <td>
                        12/12/2022
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Script{

}